.seedButton {
  appearance: none;
  background: var(--theme-success-500);
  border: 1px solid var(--theme-success-500);
  border-radius: var(--style-radius-s);
  color: var(--theme-text);
  flex-shrink: 0;
  font-weight: 600;
  padding: base(0.5) base(0.75);

  &:hover:not(:disabled) {
    cursor: pointer;
    filter: brightness(0.95);
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}
